 *{
        padding: 0;
        margin: 0;
    }
    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .calculator-container{
        width: 50%;
        margin: auto;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid #c1c1c1;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgb(229, 229, 229);
    }
    h1{
        text-align: center;
        margin: 10px 0px;
    }
    .input-box input{
        width: 100%;
        height: 40px;
        font-size: 20px;
        text-align: right;
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .button-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-box button{
                margin: 5px;
                padding: 15px 20px;
                font-size: 18px;
                border: 1px solid #9a9a9a;
                box-shadow: 0px 1px 5px rgb(0, 0, 0 ,0.5);
                border-radius: 5px;
                background-color: #c1c1c1;
    }
    .button-box button:active{
        box-shadow: none;
    }
    #clear:active{
        background-color:red ;
        color: rgb(255, 255, 255);
    }
